In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digits and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string

print("hello!")

hello!

In [6]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

# Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

In [8]:
# Print the first element in the string

print(Name[0])

M

In [9]:
# Print the element on index 6 in the string

print(Name[6])

l

In [10]:
# Print the element on the 13th index in the string

print(Name[13])

o

# Negative indexing

we can also use negative indexing with strings

Negative index can help us to count the element from the end of the string.

In [12]:
# Print the last element in the string

print(Name[-1])

n

In [13]:
# Print the first element in the string

print(Name[-15])

M

In [14]:
# Find the length of string

len("Michael Jackson")

15

# slicing

When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [15]:
# Take the slice on variable Name with only index 0 to index 3

Name[0:4]

'Mich'

In [16]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:12]

'Jack'

# Stride

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [17]:
# Get every second element starting from index 0 and till the end of the string

Name[::2]

'McalJcsn'

In [18]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

# Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [19]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [20]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [21]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

# Escape Sequences

Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [22]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [23]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [24]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

We can also place an "r" before the string to display the backslash:

In [25]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

# String Operations

In [26]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)

B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [27]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

The method find finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence.

In [28]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [29]:
# Find the substring in the string.

Name.find('Jack')

8

In [30]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1